{% extends 'base.html' %}
{% block content %}

<div class="card text-white bg-info mb-3">
  
  
    <div class="card">
        <div class="card-header">
        <strong>{{ company_details.name }}</strong> 
        </div>
    
        <div class="card-body">
    
            <p class="card-text">
            <strong>Website: </strong> {{ company_details.website }} 
            </p>
    
            <p class="card-text">
            <strong>Phone:  </strong> {{ company_details.phone }}
            </p>

            <p class="card-text">
            <strong>Email:  </strong> {{ company_details.email }}
            </p>

            <p class="card-text">
            <strong>Industry: </strong> {{ company_details.industry }} 
            </p>

            <p class="card-text">
            <strong>ID: </strong> {{ company_details.id }} 
            </p>
        </div>
    </div>
  </div>
  <a href="{% url 'delete_company' company_details.id %}"  class="btn btn-danger btn-sm deleteCompany" data-bs-toggle="modal" data-bs-target="#deleteCompany{{company_details.id}}">Delete Company</a>

<!-- Delete Company modal -->
<div class="modal fade" id="deleteCompany{{ company_details.id }}" tabindex="-1" aria-labelledby="deleteCompanyLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="deleteCompanyLabel">Delete Company</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          Are you sure you want to delete the company<strong> {{company_details}} </strong>? This action cannot be undone. 
        </div>
        <div class="modal-footer">
         <form action="{% url 'delete_company' company_details.id %}" id="deleteCompanyForm" method="POST">
          {% csrf_token %} 
          <input type="submit" class="btn btn-danger" id="deleteCompanyButton{{company_details.id}}" value="Yes, I want to delete"></input>
         </form>    
        <button type="button" id ="cancelDelete" class="btn btn-primary" data-bs-dismiss="modal">No</button>
        </div>
      </div>
    </div>
  </div>
  <br/><br/><br/><br/>

<h4>Customers </h4>

<table class="table table-hover table-bordered">
    <thead class="table-dark">
    <tr>
    <th scope="col">Name</th>
    </thead>
    <tbody>
        {% for customer in company_customers %}
        <tr>
        <td><a href="{% url 'record' customer.id %}">{{ customer.first_name }} {{ customer.last_name }}</a>
        </tr>          
        {% endfor %}
   </tbody>  
</table>

 {% endblock %}