{% extends 'base.html' %}
{% block content %}


<div class="p-3 text-primary-emphasis bg-primary-subtle border border-primary-subtle rounded-3">
<div class="card">
    <div class="card-header">
       <strong>{{ customer_record.first_name }}
        {{ customer_record.last_name }}</strong>
    </div>

    <div class="card-body">

        <p class="card-text">
        <strong>Email: </strong> {{ customer_record.email }}
        </p>

        <p class="card-text">
        <strong>Phone:  </strong> {{ customer_record.phone }}
        </p>

        <p class="card-text">
        <strong>Address: </strong> {{ customer_record.address }}
        </p>

        <p class="card-text">
        <strong>City: </strong> {{ customer_record.city }}
        </p>

        <p class="card-text">
        <strong>Postcode: </strong> {{ customer_record.postcode }}
        </p>

        <p class="card-text">
        <strong>Created At: </strong>  {{ customer_record.created_at }}
        </p>

        <p class="card-text">
        <strong>Company: </strong> {{ customer_record.company }}
        </p>

        <p class="card-text">
        <strong>ID: </strong> {{ customer_record.id }}
        </p>
    </div>
  </div>
</div>
<br/><br/>


<a href="{% url 'update_customer' customer_record.id %}" class="btn btn-primary btn-sm">Update Customer Information</a>

<a href="{% url 'delete_customer' customer_record.id %}"  class="btn btn-danger btn-sm deleteCustomer" data-bs-toggle="modal" data-bs-target="#deleteCustomer{{customer_record.id}}">Delete Customer</a>





<!-- Delete Customer record modal -->
<div class="modal fade" id="deleteCustomer{{ customer_record.id }}" tabindex="-1" aria-labelledby="deleteCustomerLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="deleteCustomerLabel">Delete Customer</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Are you sure you want to delete <strong>{{customer_record.first_name}} {{customer_record.last_name}}</strong>? This action cannot be undone. 
      </div>
      <div class="modal-footer">
       <form action="{% url 'delete_customer' customer_record.id %}" id="deleteCustomerForm" method="POST">
        {% csrf_token %} 
        <input type="submit" class="btn btn-danger" id="deleteCustomerButton{{customer_record.id}}" value="Yes, I want to delete"></input>
       </form>    
      <button type="button" id ="cancelDelete" class="btn btn-primary" data-bs-dismiss="modal">No</button>
      </div>
    </div>
  </div>
</div>

<a href="{% url 'home' %}" class="btn btn-primary btn-sm">Back</a>


<br/><br/><br/><br/><br/>

<table class="table table-hover table-bordered">
  <thead class="table-light">
    <tr>
      <th scope="col">Date</th>
      <th scope="col">Note</th>
      <th scope="col">Author</th>
    </tr>
  </thead>
  <tbody>
    {% for note in customer_record.note.all %}
<tr>
  <td>{{ note.created_at }} </td>
  <td>{{ note.add_note }}</td>
  <td>{{ note.author }}</td>

  </tr>
  {% endfor %}
</tbody>
</table>

<a href="{% url 'add_note' %}?customer={{ customer_record.id }}" class="btn btn-primary btn-sm">New note</a>




{% endblock %}
